.banner_section{
    width: 100vw;
    height: 35vw;
    position: relative;
    margin-bottom: 10vw;
}
.banner_back{
    height: 100%;
    width: 100%;
    background-color: #C8102E;
    position: absolute;

}
.banner_back img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.banner_front{
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 1;
}
.front_text{
    height: 85%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.big_title,.root_title{
    text-align: center;
    color: white;
    
}
.big_title{
    font-size: 4vw;
    font-weight: 600;
    margin-bottom: 1%;
    margin-top: 2%;
}
.root_title{
    height: 1.5vw;
    width: 100%;
    font-size: 1vw;
    justify-content: center;
    display: flex;
}
.root_title > .root_inner{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.root_inner > img{
    height: 0.8vw;
}
.root_inner > .homeI{
    height: 1vw;
    width: 1vw;
}
.root_inner.arrow{
    margin: 0 1vw;
}
.front_btn_list{
    height: 15%;
    width: 100%;
    background-color: #44548096;
    display: flex;
    justify-content: center;
}
.front_btn_list >a{
    height: 100%;
    width: 10vw;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: white;
    font-weight: 600;
}
.front_btn_list > .active{
    background-color: white;
    border: 1px solid white;
    color: black;
}
.title_banner{
    width: 100%;
    height: 300px;
    margin-bottom: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-size: cover;
    background-position: center;
    background-image: url("https://images.unsplash.com/photo-1589519160732-57fc498494f8?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
}
.title_banner div{
    color: white;
    font-weight: 600;
    font-size: 36px;
    margin-left: 15%;
}
.inner_body{
    width: 100%;
    padding: 0px 10%;
    margin-bottom: 10%;
}
.intro_section{
    width: 80%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-bottom: solid 1px #C8102E;
    padding-bottom: 7%;
    margin-bottom: 7%;
}  
.text_on_img{
    width: 100%;
}
.text_on_img h1{
    width: 100%;
    color:black;
    margin-bottom: 2%;
    text-align: center;
}
.text_on_img div{
    color: black;
    font-weight: 600;
    font-size: 18px ;
    line-height: 40px;
    text-align: center;
}
.summary_section{
    width: 80%;
    margin: 2% 0%;
}
.summary_item{
    margin-bottom: 30px;
    display: flex;
}
.summary_item h1{
    width: 40px;
    height: 40px;
    font-weight: 800;
    font-size: 22px;
    margin-left: 2%;
    margin-right: 1%;
    color: #C8102E;
}
.summary_item h6{
    font-size: 18px;
    font-weight: 500;
}
.detail_section{
    width: 80%;
    margin-top: 5%;
    background-color: rgb(235, 235, 235);
    padding: 1% 0%;
}
.large_text{
    margin: 5% 7%;
}
.large_text h1{
    font-size: 22px;
    font-weight: 800;
}
.large_text h2{
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 5px;
}
.large_text h3{
    font-size: 16px;
    font-weight: 400;
    margin: 10px 0px 0px 10px;
}
.large_text h4{
    font-size: 14px;
    color: gray;
    margin:0% 3%;
    font-weight: 400;
}
.middle_text{
    margin: 3% 0%;
}
/*----------showbox---------*/
.showBox{
    opacity: 0;
    transform: translateY(20%);
    transition:  all 1s ease-in-out;
}
.showBox.lv1{
    transition-delay: 0s;
}
.showBox.lv2{
    transition-delay: 0.3s;
}
.showBox.lv3{
    transition-delay: 0.60s;
}
.showBox.lv4{
    transition-delay: 0.90s;
}
.showBox.lv5{
    transition-delay: 1.2s;
}

.showBox.slow{
    transition:  all 1.5s ease-in-out;
}
