.banner_section{
    width: 100vw;
    height: 35vw;
    position: relative;
    margin-bottom: 10vw;
}
.banner_back{
    height: 100%;
    width: 100%;
    background-color: #C8102E;
    position: absolute;

}
.banner_back img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.banner_front{
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 1;
}
.front_text{
    height: 85%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.big_title,.root_title{
    text-align: center;
    color: white;
    
}
.big_title{
    font-size: 4vw;
    font-weight: 600;
    margin-bottom: 1%;
    margin-top: 2%;
}
.root_title{
    height: 1.5vw;
    width: 100%;
    font-size: 1vw;
    justify-content: center;
    display: flex;
}
.root_title > .root_inner{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.root_inner > img{
    height: 0.8vw;
}
.root_inner > .homeI{
    height: 1vw;
    width: 1vw;
}
.root_inner.arrow{
    margin: 0 1vw;
}
.front_btn_list{
    backdrop-filter: blur(3px);
    height: 15%;
    width: 100%;
    background-color: #44548096;
    display: flex;
    justify-content: center;
}
.front_btn_list >a{
    height: 100%;
    width: 10vw;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: white;
    font-weight: 600;
}
.front_btn_list > .active{
    background-color: white;
    border: 1px solid white;
    color: black;
}
.title_banner{
    width: 100%;
    height: 300px;
    margin-bottom: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-size: cover;
    background-position: center;
    background-image: url("https://images.unsplash.com/photo-1587560699334-bea93391dcef?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
}
.title_banner >div{
    color: white;
    font-weight: 600;
    font-size: 3vw;
    margin-left: 15%;
}
.inner_body{
    width: 80%;
    padding: 0px 10%;
}
.title_section{
    width: 100%;
    margin-bottom: 8vw;
}
.title_line{
    display: flex;
    justify-content: center;
    font-size: 2vw;
}
.title_line:first-of-type{
    font-weight: 800;
    margin-bottom: 1vw;
}
.red_text{
    color: #C8102E;
    margin-right: 1vw;
}
.card_section{
    width: 100%;
    height: 10vw;
    display: flex;
    justify-content: center;
    margin-bottom: 10vw;
}
.card{
    width: 10vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}
.card i{
    height: 60%;
    margin:2vw 2vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.card .fa{
    font-size: 6vw;
}
.card .fas{
    font-size: 8vw;
}
.card h6{
    font-size: 1.3vw;
    color: #C8102E;
}
.card h4{
    font-size: 1.3vw;
    text-align: center;
    overflow: visible;
    white-space: nowrap;
}
.between{
    height: 100%;
    width: 10vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.between>div{
    width: 100%;
    height: 1px;
    background-color: gray;
}
.time_inform{
    margin-bottom: 5vw;
}
.inform_title{
    display: flex;
}

.inform_title_text{
    font-size: 2vw;
    font-weight: 800;
    margin-bottom: 1.5%;
    margin-right: 3vw;
}
.inform_title_num{
    color: #C8102E;
    font-size: 2vw;
    font-weight: 800;
}
.inform_content{
    font-size: 1.6vw;
    color: rgb(61, 61, 61);
    line-height: 1.7vw;
}
.section_bar{
    width: 100%;
    height: 1px;
    background-color: gray;
    margin-bottom: 5vw;
}
.tel_inform{
    margin-bottom: 10vw;
}
.tel_inform .inform_title{
    display: flex;
}
.inform_content i {
    width: 60px;
    height: 60px;
    font-size: 32px;
    text-align: center;
    transform: scaleX(-1);
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #C8102E;
    color: white;
}
.inform_content h6{
    margin-bottom: 0.6vw;
}
.inform_content h5{
    width: 350px;
    color: #C8102E;
    font-size: 36px;
    font-weight: 500;
    text-align: center;
    margin-right: 2%;
}
.flex-item{
    width: max-content;
    display: flex;
    border-bottom: #C8102E solid 1px;
    margin-bottom: 2%;
}
.inform_content p{
    font-size: 16px;
    margin-bottom: 10%;
}
