.banner_section{
    width: 100vw;
    height: 35vw;
    position: relative;
    margin-bottom: 10vw;
}
.banner_back{
    height: 100%;
    width: 100%;
    background-color: #C8102E;
    position: absolute;

}
.banner_back img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.banner_front{
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 1;
}
.front_text{
    height: 85%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.big_title,.root_title{
    text-align: center;
    color: white;
    
}
.big_title{
    font-size: 4vw;
    font-weight: 600;
    margin-bottom: 1%;
    margin-top: 2%;
}
.root_title{
    height: 1.5vw;
    width: 100%;
    font-size: 1vw;
    justify-content: center;
    display: flex;
}
.root_title > .root_inner{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.root_inner > img{
    width: 1vw;
    height: 0.8vw;
}
.root_inner .homeI{
    height: 1vw;
    width: 1vw;
}
.root_inner.arrow{
    margin: 0 1vw;
}
.front_btn_list{
    backdrop-filter: blur(3px);
    height: 15%;
    width: 100%;
    background-color: #44548096;
    display: flex;
    justify-content: center;
}
.front_btn_list >a{
    height: 100%;
    width: 10vw;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: white;
    font-weight: 600;
}
.front_btn_list > .active{
    background-color: white;
    border: 1px solid white;
    color: black;
}
.title_banner{
    width: 100%;
    height: 16vw;
    margin-bottom: 2vw;
    display: flex;
    flex-direction: column;
    justify-content:end;
}
.title_banner div:nth-of-type(1){
    color: rgb(0, 0, 0);
    font-weight: 800;
    font-size: 2.6vw;
    margin-left: 5%;
    margin-bottom: 1%;
}
.title_banner div:nth-of-type(2){
    color: rgb(128, 128, 128);
    font-weight: 400;
    font-size: 1vw;
    margin-left: 5%;
}
.img_banner{
    position: relative;
    width: 100%;
    height: 40%;
    margin-bottom: 10%;
    display: flex;
    flex-direction: column;
    justify-content:center;
    background-color: rgb(38, 73, 73);
}
.img_banner div{
    position: absolute;
    z-index: 1;
    width: 100%;
    text-align: center;
    color: rgba(255, 255, 255, 0.726);
    font-weight: 400;
    font-size: 1.4vw;
}
.img_banner img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.inner_body{
    width: 100%;
    padding: 0px 15%;
}
.title_section{
    width: 70%;
    margin-bottom: 3%;
}
.title_section h1{
    color: #000000;
    font-weight: 800;
}
.title_section h6{
    font-size: 1.1vw;
    font-weight: 600;
    margin: 1% 0%;
}
.job_list_section{
    width: 70%;
    margin-bottom: 10%;
    border-bottom: solid gray 2px;
}
.job_list_item{
    width: 100%;
    border-color: gray;
    border-style: solid none none none;
    border-width: 1px;
}
.job_list_item:first-of-type{
    border-width: 2px;
}
.job_title{
    background-color: white;
    color: black;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.job_list_section .active{
    color: #C8102E;
}
.job_title h1{
    font-size: 1.2vw;
    margin: 1% 3%;
}
.job_title img{
    font-size: 1.5vw;
    margin: 1% 3%;
}
.job_title h1>span{
    color: #C8102E;
    font-size: 1vw;
}
.job_detail{
    width: 100%;
    margin: 2% 0%;
    animation: slide-in-left 0.5s;
}
.detail_column{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 2%;
}
.detail_card{
    width: 30vw;
    background-color: rgb(241, 241, 241);
    padding: 3%;
    border-radius: 1vw;
}
.detail_card h2{
    font-size: 1.2vw;
    font-weight: 600;
    margin-bottom: 5%;
}
.detail_card h3{
    font-size: 1vw;
    font-weight: 400;
    line-height: 1.6vw;
}
#team1, #team2, #team3, #team4, #team5, #team6{
    display: none;
}
.process_section{
    width: 70%;
    margin-bottom: 10vw;
}
.process_section h1{
    width: 100%;
    text-align: center;
    font-weight: 800;
    margin-bottom: 5vw;
}
.process_diagram{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.item{
    width: 15vw;
}
.num_coin{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 2vw;
}
.num_coin>div{
    background-color: white;
    color: #000000;
    width: 1.6vw;
    height: 1.6vw;
    font-weight: 600;
    font-size: 1vw;
    border: #C8102E 2px solid;
    border-radius: 5vw;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.red_coin>div{
    background-color: #C8102E;
    color: white;
}
.process_text{
    width: 100%;
    text-align: center;
}
.main_text{
    font-weight: 800;
    font-size: 1.5vw;
    margin-bottom: 1vw;
}
.sub_text{
    font-size: 1vw;
    color: #6b6b6b;
}
@-webkit-keyframes slide-in-left {
    0% {
      -webkit-transform: translateX(-300px);
              transform: translateX(-300px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
}

/*----------showbox---------*/
.showBox{
    opacity: 0;
    transform: translateY(20%);
    transition:  all 1s ease-in-out;
}
.showBox.lv1{
    transition-delay: 0s;
}
.showBox.lv2{
    transition-delay: 0.4s;
}
.showBox.lv3{
    transition-delay: 0.80s;
}
.showBox.lv4{
    transition-delay: 1.20s;
}
.showBox.lv5{
    transition-delay: 1.6s;
}

.showBox.slow{
    transition:  all 1.5s ease-in-out;
}