

a{
    text-decoration: none;
    color: black;
}

header{
    font-family: ‘SUIT’, sans-serif;
    background-color: rgba(129, 57, 57, 0);
}

.main_header{
    display: flex;
    justify-content: left;
    background-color: white;
}

.sub_header{
    width: 100%;
    background-color: rgb(255, 255, 255);
    z-index: 2;
    position: absolute;
    justify-content: center;
    display: none;
}
.sub_header_section .active{
    display: flex;
}
.left_header{
    width: 13%;
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 10px;
    padding-left: 5%;
}
.middle_header{
    width: 64%;
    display: flex;
    justify-content: center;
    
}
.right_header{
    width: 13%;
    display: flex;
    justify-content: right;
    margin-top: 30px;
    margin-bottom: 20px;
    padding-right: 5%;
}
.left_header >a{
    height: 100%;
    width: 100%;
    margin-left: 5%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.left_header> a>img{
    width: 70%;
    height: 100%;
}
.shop_div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 10px;
}
.shop_link{
    border: #C8102E 2px solid;
    border-radius: 30px;
    display: flex;
    width: 120px;
}
.shop_link img{
    height: 20px;
    margin-right: 10px;
}
.shop_link h3{
    color: black;
    font-weight: 600;
    font-size: .875rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.lang_div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: 600;
    padding: .3125rem .625rem;

}
.category > ul {
    height: 100%;
    display: flex;
    justify-content: center;
}

ul li{
    list-style: none;
}

.category{
    display: flex ;
    justify-content: left;
}

.category >ul > li{
    height: 100%;
    width: 100px;
    text-align:center;
    font-weight: 600;
    margin: 0px .625rem;
    font-size: 1.125rem;
}
.category >ul > li>a{
    height: 80%;
    margin-top: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    
}
.sub_cate_list {
    width: 70%;
    display: flex;
    justify-content: center;
}
.sub_cate_list ul{
    display: flex;
    margin: 2vw 0px;
    font-weight: 500;
}
.sub_cate_list ul li{
    margin-right: 1.25rem;
    color: rgb(41, 41, 41);
    font-size: 1.8vh;
    width: 6.25rem;
    text-align: center;
    margin: 0px .625rem;
}
.sub_cate_list ul li a{
    text-align: left;
    margin-bottom: 0.7vw;
    color: #646363;
}
#long_cate{
    width: 210px;
}
.sub_cate_list ul li a:hover{
    font-weight: 800;
    color: black;
}
#sub_cate6 li:last-of-type{
    white-space: nowrap;    /* 텍스트를 한 줄로 유지 */
    overflow:visible;  
}
.category >ul > li>ul{
    display: none;
    position: absolute;
    background-color: white;
    z-index: 1;
    border-top: 5px solid #C8102E;
    margin-top: 9px;
    text-align: left;
}


.category >ul > li>ul>li{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 150px;
    height: 30px;
    font-weight: 400;
    font-size: 11px;
    padding-left: 5px;
}
.under_bar{
    width: 100%;
    height: 3px;
    background-color:white;
    position: absolute;
    bottom: 1px;
    z-index: 1;
}

.prouct_type{
    height: 100%;
    color: black;
    font-weight: 700;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.prod_sub_cate{
    display: flex;
    flex-direction: column;
    text-align: left;
}
.global_icon{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 50px;
}
.global_icon i{
    font-size: 18px;
}

@keyframes scale-in-top {
    0% {
      transform: scaleY(0);
      transform-origin: 50% 0%;
      opacity: 1;
    }
    100% {
      transform: scaleY(1);
      transform-origin: 50% 0%;
      opacity: 1;
    }
}
  
.category > ul> .active >a{
    color: #C8102E;
}
.category > ul> .active>a .under_bar{
    background-color: #C8102E;
}

.lang_choice{
    width: 80px;
    position: relative;
}
#langOption{
    position: absolute;
    top:0;
    z-index: 2;
    display: none;
}
.lang_btn_list{
    width: 80px;
    background-color: #ffffff6e;
    display: flex;
    flex-direction: column;
}
.lang_placeholder{
    padding: 5px 10px;
}
.lang_placeholder:hover{
    color: black;
}
.lang_btn_list a{
    color: black;
    padding: 5px 10px;
}
.lang_btn:hover{
    background-color: rgb(128, 128, 128);
}
.shop_link{
    padding: 10px 15px;
}

.under_cate{
    width: 100%;

}
/*-------------------------------------- phone -------------------------*/
@media(max-width:479px) {
    body{
        min-width: initial;
    }
    #header{
        display: none;
    }
    .m_header{
        width: 90vw;
        height: 10vw;
        display: flex;
        justify-content: space-between;
        background-color: white;
        padding: 5vw;
    }
    .m_header> a{
       width: 30%;
       height: 100%;
    }
    .m_header> a>img{
        width: 100%;
        height: 100%;
    }
    .m_header>img{
        width: 10%;
        height: 100%;
    }
  }
@media all and (min-width:480px) {
    #header{
        display: block;
    }
    .m_header{
        display: none;
    }
  }