.title_banner{
    width: 100%;
    height: 300px;
    margin-bottom: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-size: cover;
    background-position: center;
    background-color: bisque;
}
.title_banner >div{
    color: white;
    font-weight: 600;
    font-size: 36px;
    margin: 0 15%;
}
.inner_body{
    width: 100%;
    padding: 0px 15%;
}
.intro_section{
    width: 70%;
    display: flex;
}
.large_text{
    font-size: 38px;
    font-weight: 700;
    margin-right: 50px;
}
.small_text{
    font-size: 18px;
    color: rgba(0, 0, 0, 0.6);
    font-weight: 600;
    line-height: 30px;
    margin-bottom: 5%;
}
.small_text .bold_text{
    font-weight: 700;
    color: black;
}
.btn_section{
    width: 70%;
}
.large_cates{
    width: 100%;
    display: flex;
    margin-bottom: 10px;
}
.large_cate{
    width: 10%;
}
.large_cate:last-of-type{
    width: 80%;
}
.l_cate_name{
    width: 100%;
    height: 30px;
    font-size: 22px;
    text-align: center;
    font-weight: 600;
    margin-bottom: 10px;
    color: #8a8a8a;
}
.l_cate_name.active{
    color: #C8102E;
}
.l_cate_bar{
    background-color: #d8d8d8;
    height: 2px;
    width: 100%;
}
.l_cate_bar.active{
    background-color: #C8102E;
}
.sub_cate_section{
    width: 70%;
    margin-top: 1%;
    margin-bottom: 5%;
}
.sub_cate_row{
    display: flex;
    justify-content: space-between;
    margin: 1%;
}
.sub_cate_btn{
    width: 15%;
    border: solid 1px #646363;
    text-align: center;
    padding:  5px 0;
    border-radius: 100px;
    margin-right: 1%;
}
.sub_cate_btn.active{
    background-color: #C8102E;
    border: solid 1px #C8102E;
    color: white;
}
.sub_cate_btn.hidden{
    border-color: #64636300;
}
.sub_cate_row .sub_cate_btn:last-of-type{
    margin-right: 0%;
}

#prod_human{
    background-image: url("https://images.unsplash.com/photo-1511367461989-f85a21fda167?q=80&w=1931&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
}
#prod_animal{
    background-image: url("https://images.unsplash.com/photo-1510337550647-e84f83e341ca?q=80&w=1931&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
}
#prod_life{
    background-image: url("https://images.unsplash.com/photo-1643780668909-580822430155?q=80&w=1932&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
}
#prod_clinical{
    background-image: url("https://images.unsplash.com/photo-1675044794036-4f20856a5d05?q=80&w=1932&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
}
.prod_item_section{
    width: 70%;
    display: none;
    justify-content: space-between;
    flex-wrap: wrap;
}
.prod_item_section.active{
    display: flex;
}
.prod_item{
    width: 300px;
    height: 300px;
    border: solid 1px #e5e5e5;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 5%;
}
.prod_item{
    color: black;
}
.prod_item h1{
    width: 100%;
    text-align: center;
    font-size: 18px;
}
.prod_item h2{
    width: 100%;
    text-align: center;
    font-size: 12px;
    margin-top: 2%;
}
.prod_img{
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
}
.prod_img img{
    width: 100%;
}