.banner_section{
    width: 100vw;
    height: 35vw;
    position: relative;
    margin-bottom: 10vw;
}
.banner_back{
    height: 100%;
    width: 100%;
    background-color: #C8102E;
    position: absolute;

}
.banner_back img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.banner_front{
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 1;
}
.front_text{
    height: 85%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.big_title,.root_title{
    text-align: center;
    color: white;
    
}
.big_title{
    font-size: 4vw;
    font-weight: 600;
    margin-bottom: 1%;
    margin-top: 2%;
}
.root_title{
    height: 1.5vw;
    width: 100%;
    font-size: 1vw;
    justify-content: center;
    display: flex;
}
.root_title > .root_inner{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.root_inner > img{
    width: 1vw;
    height: 0.8vw;
}
.root_inner .homeI{
    height: 1vw;
    width: 1vw;
}
.root_inner.arrow{
    margin: 0 1vw;
}
.front_btn_list{
    backdrop-filter: blur(3px);
    height: 15%;
    width: 100%;
    background-color: #44548096;
    display: flex;
    justify-content: center;
}
.front_btn_list >a{
    height: 100%;
    font-size: 1.1vw;
    width: 10vw;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: white;
    font-weight: 600;
}
.front_btn_list > .active{
    background-color: white;
    border: 1px solid white;
    color: black;
}

.inner_body{
    width: 100%;
    padding: 0px 15%;
}
.title_section{
    width: 70%;
    margin-bottom: 10vw;
}
.title_section h1{
    font-size: 2.5vw;
    width: 100%;
    text-align: center;
    font-weight: 800;
    margin-bottom: 3.5vw;
}
.title_section h1 span{
    color: #C8102E;
}
.title_section h6{
    width: 100%;
    text-align: center;
    font-size: 1.5vw;
    font-weight: 600;
    margin: 2% 0%;
    line-height: 2.5vw;
}
.talent_card_section{
    width: 70%;
    margin-bottom: 10%;
}
.card_column{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom:3vw;
}
.talent_card{
    width: 21vw;
    height: 21vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: solid 1px rgb(173, 173, 173);
    border-radius: 0.5vw;
}
.talent_card img{
    width: 10vw;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 1vw;
}
.talent_card h2{
    color: #C8102E;
    font-weight: 800;
    font-size: 2vw;
    text-align: center;
    margin-bottom: 10px;
}
.talent_card h3{
    font-weight: 600;
    font-size: 1.1vw;
    text-align: center;
    margin-bottom: 10%;
}
/*----------showbox---------*/
.showBox{
    opacity: 0;
    transform: translateY(20%);
    transition:  all 1s ease-in-out;
}
.showBox.lv1{
    transition-delay: 0s;
}
.showBox.lv2{
    transition-delay: 0.3s;
}
.showBox.lv3{
    transition-delay: 0.60s;
}
.showBox.lv4{
    transition-delay: 0.90s;
}
.showBox.lv5{
    transition-delay: 1.2s;
}

.showBox.slow{
    transition:  all 1.5s ease-in-out;
}
