*{
    font-family: 'SUIT', sans-serif;
}
/* ------------------first section-------------------*/

.inner_body{
    width: 100%;
}

.inner_module{
    width: 100%;
    height: 90svh;
   align-content: center;
   position: relative;
   overflow: hidden;
}
.inner_slide_wrap{
    z-index: 1;
    height: 100%;
}

.inner_slide img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.inner_slide:nth-of-type(1){
    animation: fade-in 0.3s;
    display:block;
    height: 100%;
    overflow: hidden;
}
.inner_slide:nth-of-type(2){
    animation: fade-in 0.3s;
    display: none;
    height: 100%;
    overflow: hidden;
}
.inner_slide:nth-of-type(3){
    animation: fade-in 0.3s;
    display: none;
    height: 100%;
    overflow: hidden;
}


.dot_section{
    width: 100%;
    display: flex;
    justify-content:center;
    z-index: 0;
    position: absolute;
    bottom: 5%;
}
.dot{
    margin:0 10px;
    width: 100px;
    height: 5px;
    background-color: rgba(0, 0, 0, 0.4) ;
}
.dot:nth-of-type(1){
    background-color: black;
}

/* ------------------second section-------------------*/

.white_space{
    height: 100%;
    width: 100%;
    background-color: white;
    padding: 10% 15%;
}

.slide_title{
    width: 70%;
    text-align: left;
    font-size: 1.375rem;
    font-weight: 800;
    color: #C8102E;
    margin-bottom: .9375rem;
}
.slide_title span{
    font-weight: 200;
}
.slide_sub_title{
    font-size: 1.75rem;
    width: 70%;
    text-align: left;
    line-height: 2.5rem;
}
.slide_sub_title .type_A{
    color: rgb(95, 95, 95);
    font-weight: 400;
}
.slide_sub_title .type_B{
    font-weight: 800;
    color: black;
}
.slide_sub_title .type_C{
    font-weight: 400;
    color: black;
}

.slide_sub_title span p{
    font-weight: 800;
}

.card_set{
    margin-top: .3125rem;
    width: 70%;
    display: flex;
    justify-content:space-between;
}
.card_set:nth-of-type(1){
    margin-top: 1.5%;
}
.prod_card{
    width: 23%;
    height: 45svh;
    margin: 0px 0px;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    background-color: black;
}

.prod_title{
    height: 100%;
    width: 100%;
    color:white;
    font-size: 16px;
    font-weight: 600;
}
.prod_title div:nth-of-type(1){
    height: 70%;
    width: 100%;
   
}
.prod_title div:nth-of-type(2){
    text-align: left;
    padding-left: 1.25rem;
    display: flex;
    flex-direction: column;

}
.prod_title div:nth-of-type(2) span:nth-of-type(1){
    font-size: 1.125rem;
    font-weight: 600;
    margin-bottom: .625rem;
}
.prod_title div:nth-of-type(2) span:nth-of-type(2){
    font-size: .875rem;
    font-weight: 300;
}
.prod_title:hover{
    background-color: rgba(0, 0, 0, 0.7);
    transition: all 1s;
}
#prod_covid{
    background-image: url('https://images.unsplash.com/photo-1584036561566-baf8f5f1b144?q=80&w=1932&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
}
#prod_human{
    background-image: url("../img/human_prod.jpeg");
}
#prod_animal{
    background-image: url("../img/animal_prod.jpeg");
}
#prod_etc{
    background-image: url("https://images.unsplash.com/photo-1532187863486-abf9dbad1b69?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
}
#prod_life{
    background-image: url("../img/life_prod.jpeg");
}
#prod_clinical{
    background-image: url("../img/clinical_prod.jpeg");
}

/* ------------------third section-------------------*/
.RnD_section{
    height: 100%;
    background-image: url("../img/index_rnd_background.jpeg");
    background-size: cover;
    background-position: center;
}
.silk{
    width:100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10% 15%;
}
.center_align .slide_title{
    text-align: center;
}
.center_align .slide_sub_title{
    text-align: center;
}
#RnD_section{
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-size: cover;
    background-image: url("../img/index_rnd_background.jpeg");
    background-position: center;
}
#RnD_section .slide_title{
    margin-top: 5%;
    margin-bottom: 2%;
    text-align: center;
}

#RnD_section .slide_sub_title:nth-of-type(1){
    width: 70%;
    font-weight: 400;
    margin-bottom: 0%;
    text-align: center;
}
#RnD_section .slide_sub_title:nth-of-type(2){
    width: 70%;
    font-weight: 600;
    margin-top: 0%;
    text-align: center;
}
.icon_section{
    width: 70%;
    border-collapse: collapse;
    margin-top: 3%;
}
.icon_section tr{ 
    width: 50%;
}
.icon_card{ 
    width: 20%;
    align-content: center;
}
.icon_card:nth-of-type(2){ 
    border-style: none solid;
    border-color: rgba(255, 255, 255, 0.411);
    border-width: 1px;
}
.icon_card img{
    width: 40%;
    margin-top: 25%;
    margin: 0 30%;
}
.icon_card h6{
    width: 100%;
    text-align: center;
    font-size: 1.375rem;
    font-weight: 400;
    margin-bottom: 20%;
    color: white;
}

.white_text{
    color: white;
}


.news_block1{
    width: 35svw;
    height: 50svh;
    margin: 0px 1%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background-color: white;
    border-top: solid .0625rem #C8102E;
    padding-top: .625rem;
}
.news_block1:nth-of-type(1){
    
    margin-left: 0px;
}
.news_block1:nth-of-type(2){

    margin-right: 0px;
}
.news_block2:nth-of-type(1){
    height: 50%;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: space-between;
}
.news_block2:nth-of-type(2){
    height: 45%;
    width: 100%;
    display: flex;
    justify-content: space-between;    
}
.news_block3{
    border-top: solid 1px #C8102E;
    width: 48%;
    height: 100%;
    background-color: white;
    
}
.news_thumb_L{
    height: 90%;
    background-size: cover;
    background-image: url("https://images.unsplash.com/flagged/photo-1560790959-94da781aa017?q=80&w=2125&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
}
.news_text_L{
    margin: 5% 0;
}
.news_title_L{
    font-size: 24px;
    text-align: left;
    font-weight: 600;
    margin-bottom: .625rem;
}
.news_detail_L{
    font-size: 1.25rem;
    text-align: left;
}
.news_thumb{
    width: 35%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-image: url("https://www.rapigen-inc.com//upload/SmartEditor2/2404/9b65caf5f7158ed0ff7a68ce74c3f940_1713857726_2937.png");
}
.news_text_M{
    width: 65%;
    height: 100%;
    padding: 1.875rem;
}
.news_text_S{
    width: 90%;
    height: 100%;
    padding: 1.875rem 0px;
}
.news_card{
    width: 60%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    font-size: 1.125rem;
    overflow: hidden;
    text-align: left;
    margin-top:5%;
}
.news_title{
    width: 100%;
    font-size: 1rem;
    text-align: left;
    font-weight: 800;
    overflow : hidden;
    text-overflow: ellipsis;
    white-space:nowrap;
}
.news_detail{
    text-align: left;
    margin-top: .625rem;
    font-size: .875rem;
    overflow: hidden;
    display: -webkit-box;
    text-overflow: ellipsis;
    line-height:20px;
    white-space: normal;
    word-wrap : break-word;
    -webkit-line-clamp : 4;
    -webkit-box-orient: vertical;
}
.view_more{
    width: 70%;
    font-size: 16px;
    display: flex;
    justify-content: end;
}
.view_more a{
    color: #646363;
}

.contact_section{
    width: 100%;
    height: 40svh;
    padding: 0 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-size: cover;
    background-image: url("https://images.unsplash.com/photo-1528056956515-10faa96ba227?q=80&w=2073&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
}

.contact_btn_section{
    display: flex;
    justify-content: center;

}
.contact_btn_section> a{
    width: 21.875rem;
    display: flex;
    justify-content: right;
}
.content_row{
    display: flex;
    justify-content: space-between;
    width: 70%;
    
}

.contact_coin{
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.contact_coin >div{
    height: 50%;
    background-color: black;
    border-radius: 10rem;
    padding: .32rem 1rem;
    color:white;
    font-size: 1.125rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.showBox{
    opacity: 0;
    transform: translateY(20%);
    transition:  all 1s ease-in-out;
}
.showBox.lv1{
    transition-delay: 0s;
}
.showBox.lv2{
    transition-delay: 0.2s;
}
.showBox.lv3{
    transition-delay: 0.40s;
}
.showBox.lv4{
    transition-delay: 0.60s;
}