* {
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    overflow: hidden;
    min-width: 1175px;
}


.slide_wrap{
    width: 100%;
    height: 100vh;
    overflow: auto;
    scroll-snap-type: y mandatory;
    -ms-overflow-style: none;
}

.slide_wrap::-webkit-scrollbar{
    display:none;
  }

.slide{
    scroll-snap-align:start;
    display: inline-block;
    width: 100%;
    height: 100vh;
    font-size: 70px;
    text-align: center;
}
.slide:nth-of-type(1){
    background-color: rgb(19, 19, 31);
}
.slide:nth-of-type(2){
    width: 100%;
    height: 100%;
    background-color: white;
}
#news_slide{
    width: 100%;
    height: 100%;
    background-image: url("https://images.unsplash.com/photo-1541261248599-cef2fcabf912?q=80&w=1983&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
}
.slide:nth-of-type(4){
    width: 100%;
    height: 100%;
    background-image: url("https://images.unsplash.com/photo-1454165804606-c3d57bc86b40?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
}

.slide:nth-of-type(2) .white_space{
    width:100%;
    height: 100%;
    padding: 10px 5% ;
    color: black;
}
.white_space > h1{
    width: 90%;
    font-size: 72px;
    margin-top: 10px;
}
.white_space> h4{
    width: 90%;
    text-align: center;
    font-size: 22px;
    border-bottom: solid 1px white;
    padding-bottom: 10px;
    margin-top: 30px;
    opacity: 60%;
}
.slide:nth-of-type(2) h4{
    color: black;
}
.slide .silk{
    width:100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px 5% ;
}
#news_title{
    width: 90%;
    color: white;
    font-size: 72px;
    margin-top: 2%;
}
#news_sub_title{
    width: 90%;
    color: white;
    text-align: center;
    font-size: 22px;
    margin-top: 0.5%;
}

@keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

.inner_module{
    width: 100%;
    height: 100vh;
   align-content: center;
   position: relative;
}
.inner_slide_wrap{
    z-index: 1;
    height: 100%;
}
.inner_slide{
    padding: 10% 10%;
}
.inner_slide h1, h2, h3, h4{
    color: white;
    text-align: start;
}
.inner_slide h1{
    font-size: 50px;
}
.inner_slide h2{
    font-weight: 500;
    font-size: 36px;
    margin-top: 30px;
}
.inner_slide h3{
    font-size: 30px;
    font-weight: 300;
    margin-top: 30px;
}
.inner_slide h4{
    text-align: center;
    font-size: 20px;
    font-weight: 300;
    margin-top: 30px;
}
.inner_slide:nth-of-type(1){
    animation: fade-in 0.3s;
    display:block;
    height: 100%;
    background-size: cover;
    overflow: hidden;
    background-image: url("https://images.unsplash.com/photo-1637929476734-bd7f5f78e40a?q=80&w=1932&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
}
.inner_slide:nth-of-type(2){
    animation: fade-in 0.3s;
    display: none;
    height: 100%;
    background-size: cover;
    overflow: hidden;
    background-position: center;
    background-image: url("https://images.unsplash.com/photo-1488521787991-ed7bbaae773c?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
}
.inner_slide:nth-of-type(3){
    animation: fade-in 0.3s;
    display: none;
    height: 100%;
    background-size: cover;
    overflow: hidden;
    background-image: url("https://images.unsplash.com/photo-1581594549595-35f6edc7b762?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
}
#inner3 h1{
    margin-top: 5%;
    font-weight: 600;
    text-align: center;
}

.dot_section{
    width: 100%;
    display: flex;
    justify-content:center;
    z-index: 0;
    position: absolute;
    bottom: 15vh;
}
.dot{
    margin: 10px;
    width: 20px;
    height: 20px;
    background-color: rgba(0, 0, 0, 0.4) ;
    border-radius: 10px;
}
.dot:nth-of-type(1){
    background-color: black;
}

.card_set{
    margin-top: 20px;
    width: 90%;
    display: flex;
    justify-content:center;
}
.card_set:nth-of-type(1){
    margin-bottom: 10px;
}
.prod_card{
    width: 16vw;
    height: 50vh;
    margin: 10px 30px;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    background-color: black;
}

.prod_title{
    height: 100%;
    width: 100%;
    color:white;
    font-size: 16px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.3);
}
.prod_title:hover{
    background-color: rgba(0, 0, 0, 0.8);
    transition: all 1s;
}
#prod_covid{
    background-image: url('https://images.unsplash.com/photo-1584036561566-baf8f5f1b144?q=80&w=1932&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
}
#prod_human{
    background-image: url("https://images.unsplash.com/photo-1526938084645-692eb352bf7e?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTIwfHwlRUIlOEIlQUMlRUIlQTYlQUMlRUElQjglQjB8ZW58MHwwfDB8fHwy");
}
#prod_animal{
    background-image: url("https://images.unsplash.com/photo-1510337550647-e84f83e341ca?q=80&w=1931&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
}
#prod_etc{
    background-image: url("https://images.unsplash.com/photo-1532187863486-abf9dbad1b69?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
}
#prod_life{
    background-image: url("https://images.unsplash.com/photo-1643780668909-580822430155?q=80&w=1932&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
}
#prod_clinical{
    background-image: url("https://images.unsplash.com/photo-1675044794036-4f20856a5d05?q=80&w=1932&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
}
#news_sub_title{
    color: white;
    font-size: 18px;
}

.news_block1{
    width: 35vw;
    height: 50vh;
    margin: 0px 1%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.news_block1:nth-of-type(2){
    background-color: white;
    border-top: solid 3px #C8102E;
}
.news_block2:nth-of-type(1){
    height: 50%;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: space-between;
    border-top: solid 3px #C8102E;
}
.news_block2:nth-of-type(2){
    height: 45%;
    width: 100%;
    display: flex;
    justify-content: space-between;    
}
.news_block3{
    border-top: solid 3px #C8102E;
    width: 48%;
    height: 100%;
    background-color: white;
}
.news_thumb_L{
    height: 100%;
    background-size: cover;
    background-image: url("https://images.unsplash.com/flagged/photo-1560790959-94da781aa017?q=80&w=2125&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
}
.news_text_L{
    margin: 5% 8%;
}
.news_title_L{
    font-size: 24px;
    text-align: left;
    font-weight: 600;
    margin-bottom: 10px;
}
.news_detail_L{
    font-size: 20px;
    text-align: left;
}
.news_thumb{
    width: 35%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-image: url("https://www.rapigen-inc.com//upload/SmartEditor2/2404/9b65caf5f7158ed0ff7a68ce74c3f940_1713857726_2937.png");
}
.news_text_M{
    width: 65%;
    height: 100%;
    padding: 30px;
}
.news_card{
    width: 60%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    font-size: 18px;
    overflow: hidden;
    text-align: left;
    margin-top:5%;
}
.news_title{
    width: 100%;
    font-size: 18px;
    text-align: left;
    font-weight: 600;
    overflow : hidden;
    text-overflow: ellipsis;
    white-space:nowrap;
}
.news_detail{
    text-align: left;
    margin-top: 10px;
    font-size: 14px;
    overflow: hidden;
    display: -webkit-box;
    text-overflow: ellipsis;
    line-height:20px;
    white-space: normal;
    word-wrap : break-word;
    -webkit-line-clamp : 4;
    -webkit-box-orient: vertical;
}
