footer{
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 40%;
    background-color: #232424;
    z-index: 1;
    display: flex;
}
.footer_logo{
    height: 100%;
    width: 55%;
    display: flex;
    justify-content: start;
    flex-direction: column;
}
.footer_logo img{
    width: 25%;
    height: 15%;
    object-fit: scale-down;
    margin: 8% 5%;
    fill: #5c5c5c;
}
.footer_data{
    width: 45%;
    height: 100%;
    padding: 1%;
}
.footer_data_section{
    width: 100%;
    height: 55%;
    border-left: solid #5c5c5c  2px;
}
.footer_data_icon{
    width: 100%;
    height: 30px;
    display: flex;
    font-size: 22px;
    margin-bottom: 10px;
}
.footer_data_icon a{
    margin-left: 30px;
    color: #5c5c5c ;
}
.footer_data_text{
    width: 100%;
    color:#5c5c5c ;
    font-size: 22px;
    text-align: left;
    margin-left: 30px;
}
.copyright{
    margin-top: 10px;
}