.title_banner{
    width: 100%;
    height: 300px;
    margin-bottom: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-size: cover;
    background-position: center;
    background-image: url("https://images.unsplash.com/photo-1615631570866-4ff59a69093a?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
}
.title_banner >div{
    color: white;
    font-weight: 600;
    font-size: 36px;
    margin-left: 15%;
}
.inner_body{
    width: 100%;
    padding: 0px 15%;
}
.title_section{
    width: 70%;
    margin-bottom: 5%;
}
.title_section h1:nth-of-type(1){
    color: rgba(0, 0, 0, 0.6);
    margin-bottom: 5px;
}
.title_section h1:nth-of-type(2){
    color: black;
}
.title_section h6{
    font-size: 18px;
    font-weight: 600;
    margin: 2% 0%;
}
.cate_section{
    width: 70%;
}
.big_cate{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10%;
}
.cate_text_zone{
    width: 40%;
    border-top:  solid 2px #C8102E;
}
.cate_text_zone h1{
    margin-top: 5px;
    font-weight: 800;
    font-size: 38px;
    margin-bottom: 5%;
}
.cate_section span{
    font-size: 20px;
    line-height: 35px;
}
.cate_section .bold_text{
    font-weight: 700;
}
.cate_section .red_text{
    color: #C8102E;
}
.card_zone{
    width: 55%;
    display: flex;
    justify-content: space-between;
}
.card{
    width: 48%;
    height: 450px;
    position: relative;
}
.white_card{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-position: center;
    background-size: cover;
}
.white_card div{
    width: 100%;
    text-align: center;
    color: white;
    font-size: 20px;
    font-weight: 600;
}
.black_card{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 1;
    color: rgba(0, 0, 0, 0);
    background-color: rgba(0, 0, 0, 0);
}
.black_card div{
    text-align: center;
}
.black_card div:nth-of-type(1){
    height: 90%;
}
.black_card div:nth-of-type(2){
    width: max-content;
    padding: 10px 25px;
    margin: 0 auto;
}
.card:hover .black_card{
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    transition: all 0.5s;
}
.card:hover .black_card div:nth-of-type(1){
    height: 70%;
    transition: all 0.5s;
}
.card:hover .black_card div:nth-of-type(2){
    border: solid 1px white;
    transition: all 0.5s;
}
#prod_human{
    background-image: url("../img/human_prod.jpeg");
}
#prod_animal{
    background-image: url("../img/animal_prod.jpeg");
}
#prod_life{
    background-image: url("../img/life_prod.jpeg");
}
#prod_clinical{
    background-image: url("https://images.unsplash.com/photo-1675044794036-4f20856a5d05?q=80&w=1932&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
}
