.title_banner{
    width: 100%;
    height: 16vw;
    margin-bottom: 2vw;
    display: flex;
    flex-direction: column;
    justify-content:end;
}
.title_banner div:nth-of-type(1){
    color: rgb(0, 0, 0);
    font-weight: 800;
    font-size: 2.6vw;
    margin-left: 5%;
    margin-bottom: 1%;
}
.title_banner div:nth-of-type(2){
    color: rgb(128, 128, 128);
    font-weight: 400;
    font-size: 1vw;
    margin-left: 5%;
}
.img_banner{
    width: 100%;
    height: 50%;
    margin-bottom: 10%;
    display: flex;
    flex-direction: column;
    justify-content:center;
    background-color: rgb(38, 73, 73);
}
.img_banner div{
    width: 100%;
    text-align: center;
    color: rgba(255, 255, 255, 0.726);
    font-weight: 400;
    font-size: 1.4vw;
}
.inner_body{
    width: 100%;
    padding: 0px 10%;
    height: max-content;
}

.bold_800{
    font-weight: 800;
}

/*----------showbox---------*/
.showBox{
    opacity: 0;
    transform: translateY(5%);
    transition:  all 1s ease-in-out;

}
.showBox.lv1{
    transition-delay: 0s;
}
.showBox.lv2{
    transition-delay: 0.3s;
}
.showBox.lv3{
    transition-delay: 0.60s;
}
.showBox.lv4{
    transition-delay: 0.90s;
}
.showBox.lv5{
    transition-delay: 1.2s;
}

.showBox.slow{
    transition:  all 1.5s ease-in-out;
}
.text_section{
    width: 80%;
    font-size: 1.8vw;
    text-align: center;
    font-weight: 600;
    line-height: 2.5vw;
    margin-bottom: 4vw;
}
.diagram_section{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}
.circle_section{
    margin: 0 auto;
}
.progress{
    transform-origin: center;
    transform: rotate(-90deg);
}
.middle_text{
    width: 100%;
    position: absolute;
    z-index: 1;
    font-size: 1.3vw;
    text-align: center;
}
.middle_text h1{
    font-size: 2.5vw;
    font-weight: 800;
    color:  #C8102E;
    margin-bottom: 1vw;
}
.middle_text h5{
    font-size: 1vw;
    color: rgb(168, 168, 168);
}
.floating_section_box{
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 2;
    top: 0;
}
.floating_section{
    width: 50vw;
    height: 50vw;
    position: relative;
    z-index: 2;
}
.item{
    position: absolute;
    width: 12vw;
    height: 12vw;
    background-color: white;
    transform: translate(-50%, -50%);
    border-radius: 20vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.item1{
    top: 10%;
    left: 50%;
}
.item2{
    top: 70%;
    left: 85%;
}
.item3{
    top:70%;
    left: 15%;
}
.item>div{
    width: 100%;
    height: 100%;
}
.item h2{
    width: 100%;
    text-align: center;
    transform: translateY(-80%);
    font-size: 1.5vw;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.item img{
    width: 100%;
    height: 70%;
    object-fit: contain;
    transform: translateY(-10%);
}